.buy-product-parent {
    display: flex;
    flex-direction: row;
}

.contact-info {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7rem;
}
.buy-summary-single {
    width: 100%;
    margin-top: 3rem;
    margin-right: 2rem;
    border-left: solid 1px grey;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem 2rem;
    grid-column-gap: 10em;
    grid-row-gap: 0rem;
    grid-auto-rows: 2rem;
}

.buy-product-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.buy-image-resize {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
}

.buy-radio-style {
    display: flex;
    flex-direction: column;
    height: 4rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

.radio-button-style {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.buy-summary-cart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    border-left: solid 1px grey;
    gap: 1rem;
}
.buy-product-image-cart {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: flex-start;
    gap: 2rem;
    /* align-content: flex-start; */
}

.xyc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
}

.buy-image-resize-cart {
    width: 5vw;
    height: 10vh;
}

.total-cart-shipping {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
