.buy-product-parent {
    display: flex;
    flex-direction: row;
}
.buy-product-parent-mobile {
    display: flex;
    flex-direction: column;
}

.contact-info {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7rem;
    border-right: solid 1px gray;
}
.contact-info-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px gray;
}
.buy-summary-single {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    gap: 1rem;
}

.buy-product-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.buy-single-image-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7rem;
}

.product-name-buy-single {
    margin-left: -6rem;
}
.resize-image-single-buy {
    width: 5vw;
    height: 10vh;
}

.single-buy-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buy-radio-style {
    display: flex;
    flex-direction: column;
    height: 4rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

.radio-button-style {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.buy-summary-cart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    gap: 1rem;
}
.buy-product-image-cart {
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: flex-start;
    gap: 2rem;
}
.panel-resize-img-single {
    width: 18vw;
    height: 10vh;
}

.xyc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
}

.buy-image-resize-cart {
    width: 5vw;
    height: 10vh;
}
.buy-image-resize-cart-mobile {
    width: 22%;
    height: 20vh;
}
.buy-image-resize-cart-mobile-panel {
    width: 22%;
    height: 20vh;
}

.total-cart-shipping {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.ant-radio-button-wrapper-checked {
    /* color: rgba(0, 0, 0, 0.651) !important; */
    /* color: rgba(255, 166, 0, 0.507) !important; */
    color: black !important;
    border: solid 1px orange !important;
}
.custom-payment-buttons .ant-radio-button-wrapper-checked {
    color: orange !important;
    border: solid 1px orange !important;
}

.ant-radio-button-wrapper:hover {
    color: orange;
    border: solid 1px orange !important;
    transition: ease 200ms;
}

.ant-btn-primary.ant-btn-background-ghost:hover {
    color: orange !important;
    border-color: orange !important;
}

.place-order-button {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
}

.place-order-button:hover {
    color: orange;
    border-color: orange;
    transition: ease 200ms;
}

.checkout-total {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}
.ant-spin-dot-item {
    color: orange;
}
