.cart-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.cart-product-list {
    flex: 1;
    overflow-y: auto;
}

.cart-product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    border-bottom: solid 1px black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    margin-top: 15px;
}

.cart-button {
    padding-left: 0%;
    margin-bottom: 3px;
    border: none;
}
.cart-button:focus,
.cart-button:active {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.cart-hover:hover {
    color: orange;
}

.cart-total {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    gap: 1rem;
}

.pg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-button {
    border: solid black 1px;
    border-radius: 0;
    width: 100%;
    transition: ease 700ms;
}

.view-button:hover {
    border: solid black 1px;
    background-color: black;
    color: white;
    transition: ease 700ms;
}

.checkout-button {
    border: grey solid 1px;
    border-radius: 0;
    background-color: grey;
    color: white;
    width: 100%;
    transition: ease 700ms;
}

.checkout-button:hover {
    border: solid 1px black;
    background-color: black;
    transition: ease 700ms;
}

.product-price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove-item {
    cursor: pointer;
}

.remove-item:hover {
    color: orange;
}

.cart-qty-hide {
    display: none;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 75%;
}

.start-shopping-btn {
    border-radius: 0;
    border: solid 1px black;
    transition: ease 700ms;
}

.start-shopping-btn:hover {
    color: white;
    background-color: black;
    border: solid 1px black;
    transition: ease 700ms;
}
