.MainContainerCreateAcc {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2rem;
    justify-content: center;
}

.Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.Inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;
    margin-left: 3rem;
    width: 30vw;
}
.inputs-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;
    width: 80vw;
}

.Input-create {
    height: 30px;
    padding: 5px 10px;
    border: solid black 1px;
    border-radius: 0%;
}

.pd-0 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.CreateAccButton-createPage {
    color: white;
    background-color: black;
    border-radius: 0;
    border: solid black 1px;
    width: 100%;
}
.CreateAccButton-createPage:hover {
    color: black;
    background-color: white;
    transition: background-color 0.5s ease;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.divider::before,
.divider::after {
    content: " ";
    flex: 1;
    border-bottom: 1px solid black;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.divider-text {
    white-space: nowrap;
}

.SignInButton-createPage {
    color: black;
    background-color: white;
    border-radius: 0;
    border: solid black 1px;
    width: 100%;
}

.SignInButton-createPage:hover {
    color: white;
    background-color: black;
    transition: background-color 0.5s ease;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.SuccessMessage {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.ErrorMessage {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}
