.MainContainerDropdown {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: flex-start;
    overflow: hidden;
    background-color: white;
    padding-top: 4rem;
}

.columnList-dropdown {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 20px;
    justify-content: space-between;
    gap: 1rem;
    width: 15vw;
    padding-top: 1rem;
}

.dropdown-products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 7rem;
    margin-left: 0;
    padding-bottom: 40px;
}

.dropdown-image-size {
    width: 20%;
    height: 40%;
}

.dropdown-align-rows {
    display: flex;
    flex-direction: column;
}

.dropdown-categories {
    color: black;
}
.dropdown-categories:hover {
    color: orange;
}
