.my-profile-addresses {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.order-item-summary {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
}

.ant-layout .ant-layout-sider {
    background-color: black;
}
.ant-menu-dark {
    background-color: black;
}

.ant-menu-dark .ant-menu-item-selected {
    background-color: orange;
}
.ant-btn-primary.ant-btn-background-ghost {
    border-color: black;
}

.sign-out-button {
    width: 100%;
    transition: ease 500ms;
}

.sign-out-button:hover {
    background-color: orange;
    border: transparent;
    transition: ease 500ms;
}

.ant-card-head-title {
    font-weight: bold;
}

.ant-card .ant-card-head {
    border-bottom: solid 1px rgba(128, 128, 128, 0.527);
    /* background-color: rgb(255, 219, 153); */
    background-color: rgb(255, 213, 135);
}

.ant-menu-title-content:hover {
    color: orange;
}

.ant-menu-item-selected .ant-menu-title-content:hover {
    color: white;
}

.my-account-parent {
    display: flex;
    flex-direction: column;
}

.my-account-dash {
    background-color: white;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 12vh;
}

.dash-user-name {
    margin-top: 1.5rem;
    padding-right: 1.5rem;
}

.dash-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
}

.custom-dash-drawer .ant-drawer-close {
    color: white;
}
