.my-profile-addresses {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.order-item-summary {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
}

.ant-layout .ant-layout-sider {
    background-color: black;
}
.ant-menu-dark {
    background-color: black;
}

.ant-menu-dark .ant-menu-item-selected {
    background-color: orange;
}
.ant-btn-primary.ant-btn-background-ghost {
    border-color: black;
}

.sign-out-button {
    width: 100%;
    transition: ease 500ms;
}

.sign-out-button:hover {
    background-color: orange;
    border: transparent;
    transition: ease 500ms;
}

.ant-card-head-title {
    font-weight: bold;
}

.ant-card .ant-card-head {
    border-bottom: solid 1px #c7c7c786;
    background-color: #fff1d6;
}

.ant-menu-title-content:hover {
    color: orange;
}

.ant-menu-item-selected .ant-menu-title-content:hover {
    color: white;
}

.my-account-parent {
    display: flex;
    flex-direction: column;
}
.my-account-dash {
    background-color: white;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 12vh;
}

.dash-user-name {
    margin-top: 1.5rem;
    padding-right: 1.5rem;
}

.dash-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
}

.custom-dash-drawer .ant-drawer-close {
    color: white;
}

.ant-layout .css-dev-only-do-not-override-d2lrxs {
    margin: 0% !important;
}

.edit-delete {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.edit-delete-btns {
    width: 50%;
    border: solid 1px black;
    transition: ease 400ms;
}

.edit-delete-btns:hover {
    border: solid 1px black;
    background-color: black;
    color: white;
    transition: ease 400ms;
}
.orng-ant-btn .ant-btn-primary {
    background: orange !important;
}
.orng-ant-btn .ant-btn-primary:hover {
    background: black !important;
    border-color: black;
}

.orng-ant-btn .ant-btn-default:hover {
    color: orange !important;
    border-color: orange !important;
}
