.MainContainerNavBar {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 100vw;
    height: auto;
    align-items: center;
    overflow: visible;
}

.ShopName {
    display: flex;
    margin-right: 1rem;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 45px;
}
.ListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 15rem;
}

.uList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 2rem;
    font-size: 18px;
}
.arrowDown {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrowDown:hover {
    color: orange;
}

.uCart {
    font-size: 25px;
    margin-right: 1.5rem;
}

.CartHover:hover {
    color: orange;
    cursor: pointer;
}

.cartFont {
    font-size: 15px;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.dropDown {
    display: inline-block;
}
.dropDownContent {
    display: none;
    position: absolute;
    z-index: 1;
    transform: translate(-19%, 10%);
}

.d-block {
    display: block !important;
}
