.productsMainContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.rowProductContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0rem;
    width: 75vw;
    flex-wrap: wrap;
}

.allProducts-grid {
    width: 33.333%;
}
.allProducts-list {
    width: 100%;
    border-bottom: solid 1px rgb(199, 193, 193);
    margin-left: 3rem;
}

@media (max-width: 768px) {
    .allProducts-grid {
        width: 50%;
    }
}

.productFigureContainerGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productFigureContainerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* margin-left: 3rem; */
}

.product-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlayButtons {
    position: absolute;
    margin-top: 8px;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.overlayButton {
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.overlayIcons {
    color: black;
}
.overlayButton:hover {
    background: orange;
}
.overlayButton:hover .overlayIcons {
    color: white;
}

.productFigureContainerGrid:hover .overlayButtons,
.productFigureContainerGrid:hover .addToCart {
    opacity: 1;
}
.productFigureContainerList:hover .overlayButtons,
.productFigureContainerList:hover .addToCart {
    opacity: 1;
}

.addToCart {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.overlayCart {
    bottom: 0;
    transform: opacity 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.addToCart:hover .overlayCart {
    opacity: 1;
}

.rowColProd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 77vw;
}

.viewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    margin-top: 1rem;
    align-items: center;
    background-color: rgb(243, 243, 243);
    margin-left: 40px;
}

.viewGridList {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
}

.collectionContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0rem;
    border-bottom: solid 1px grey;
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 1rem;
}

.collectionContent-hidden {
    display: none;
}

.saleContainer {
    background-color: beige;
    border: solid 1px black;
    padding: 2px 7px 2px 7px;
    font-size: 13px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    display: block;
}
.saleContainer-hidden {
    display: none;
}

.statusContainer {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 1rem;
    margin-left: 12px;
    margin-top: 8px;
}

.newContainer {
    background-color: green;
    border: solid 1px black;
    padding: 2px 7px 2px 7px;
    font-size: 13px;
    color: white;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    display: block;
}

.newContainer-hidden {
    display: none;
}

.category-Name {
    margin-left: 40px;
    margin-top: 1rem;
    font-size: 30px;
}

.no-products {
    font-size: 50px;
    margin: 50px 0px 0px 50px;
}

.filter-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.show-filters {
    display: block;
    margin-bottom: 0;
}

.hide-filters {
    display: none;
}

.filter-box {
    background-color: white;
    border: solid 1px black;
    padding: 5px 5px 5px 5px;
    border-radius: 0rem;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
}

.clear-filter-box {
    color: white;
    background-color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 0rem;
    display: flex;
    justify-content: center;
    transition: ease 500ms;
    border: solid black 1px;
}

.clear-filter-box:hover {
    color: black;
    background-color: white;
    transition: ease 500ms;
}

.filter-by-box {
    background-color: black;
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 0;
    display: flex;
    justify-content: center;
}

.image-grid {
    height: 42vh;
    width: 20vw;
}

.image-list {
    height: 35vh;
    width: 15vw;
}

.sizeOptions {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    opacity: 1;
}
.sizeOptions-hidden {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0;
}

.sizeOptions button {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    border-radius: 0%;
    color: black;
}

.products-sidebar {
    margin: 5rem 4rem 0 2rem;
    padding-left: 2rem;
}

.sidebar-categories:hover {
    color: orange;
}

.ant-select-selector:hover {
    border: solid 1px orange !important;
}
.ant-select-selector:focus,
.ant-select-focused .ant-select-selector {
    border: solid 1px orange !important;
}

.ant-select-item-option-selected {
    background-color: orange !important;
}

.image-caption-grid {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.price-size-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.image-caption-list {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: flex-start;
    gap: 2rem;
}

.description-grid {
    display: none;
}

.description-list {
    width: 40vw;
}

.product-card-list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 15vw;
}

.price-size-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
