.scroll-to-top {
    position: fixed !important;
    bottom: 40px !important;
    right: 40px !important;

    /* padding-right: 5rem; */
}

.ant-btn-primary.ant-btn-background-ghost {
    color: black;
}
