.scroll-to-top {
    position: fixed !important;
    bottom: 40px !important;
    right: 40px !important;
    z-index: 9999;
    width: auto;
}

.ant-btn-primary.ant-btn-background-ghost {
    color: black;
}
