.prod-main-container {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
/* .prod-main-container-loading {
    display: none;
} */
.single-prod-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 2rem;
}

.single-prod-img {
    width: 50%;
}

.single-prod-size {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    opacity: 1;
}

.single-prod-size-hidden {
    display: none;
}

.single-prod-size button {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    border-radius: 0%;
    color: black;
}

.size-guide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.single-add-to-cart {
    border: none;
    border-radius: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    transition: ease 500ms;
}

.single-add-to-cart:hover {
    background-color: black;
    transition: ease 500ms;
}

.single-buy-now {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: rgb(236, 162, 24);
    color: white;
    transition: ease 500ms;
}
.single-buy-now-not {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: rgba(236, 162, 24, 0.315);
    color: white;
    transition: ease 500ms;
}

.bottom-tabs {
    bottom: 0;
    left: 0;
    width: 80%;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
}

.sizes-option {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

ul li {
    margin-bottom: 20px;
}

.single-prod-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.single-new-container {
    background-color: rgb(30, 162, 202);
    border: none;
    padding: 2px 7px 2px 7px;
    font-size: 13px;
    color: white;
    display: flex;
    width: 5%;
}

.single-new-container-hidden {
    display: none;
}

.single-prod-sale-container {
    background-color: rgb(226, 74, 74);
    color: white;
    border: none;
    padding: 2px 7px 2px 7px;
    font-size: 13px;
    display: block;
}
.single-prod-sale-container-hidden {
    display: none;
}

.single-shipping-free {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black !important;

    font-weight: 500;
}

.ant-tabs-tab-btn:hover {
    color: black;
}
.ant-tabs .ant-tabs-tab:hover {
    color: black;
}
.ant-tabs .ant-tabs-ink-bar {
    background: black;
}

.submit-review-button {
    border: none;
    border-radius: 0;
    margin-top: 10px;
    width: 100%;
    color: white;

    background-color: rgba(0, 0, 0, 0.534);
    transition: ease 500ms;
}

.submit-review-button:hover {
    background-color: black;
    transition: ease 500ms;
}

.product-image-single {
    transition: transform 2s ease;
}

.product-image-single:hover {
    transform: scale(1.2); /* Scale the image to 1.2 times its original size */
}
