.custom-dropdown {
    width: 200px;
    min-height: 150px;
}

.ant-dropdown-menu {
    background-color: #f0f0f0;
    transform: translate(-40%, 14%);
    
}

.ant-dropdown-menu-item {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    
}

.ant-dropdown-link {
    color: black;
    
}

.ant-dropdown-link:hover {
    color: orange;
}

.ant-dropdown-menu-title-content:hover {
    color: orange;
}

.dropdown-menu-item {
    border-bottom: solid rgba(128, 128, 128, 0.279) 1px;
    
}
